/* base styles */
:root, html {
    --dark: #352020;
    --light: #F6F6E5;
    --link-blue: blue;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    padding: 30px 0;
    text-transform: lowercase;
    width: 90%;
}

.light {
    background-color: var(--light);
    color: var(--dark);
}

.dark {
    background-color: var(--dark);
    color: var(--light);
}

.light-link {
    color: var(--light);
}

.dark-link {
    color: var(--dark);
}

.underline {
    text-decoration: underline;
} 

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: var(--dark);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: var(--light);
    bottom: 4px;
    content: "";
    height: 13px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 13px;
  }
  
  input:checked + .slider {
    background-color: var(--light);
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
    background-color: var(--dark);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

/* mobile styles */

/* header */
.header {
    margin-bottom: 30px;
    width: 100%;
}

.name {
    font-family: 'Azeret Mono', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
}

.nav-bar > ul {
    display: flex;
}

.nav-bar > ul > li {
    list-style: none;
    margin: 10px 20px 0 0;
}
 
.nav-bar > ul > li > a {
    font-family: 'Azeret Mono', sans-serif;
    font-size: .8rem;
    text-decoration: none;
}

/* about */
#about {
    margin-bottom: 30px;
    width: 100%;
}

.about-me-heading {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 400;
    line-height: 1.95rem;
    padding-bottom: 20px;
}

.about-me > p {
    font-size: 1rem;
    line-height: 1.55rem;
    padding-bottom: 10px;
}

.about-me > p > .italic {
    font-family: 'Azeret Mono', sans-serif;
    font-style: italic;
}

.about-me > p > .normal-case {
    text-transform: none;
}

.about-me > p > a {
    font-family: 'Azeret Mono', sans-serif;
    text-decoration: underline;
}

/* profile */
.profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
}

.profile > img {
    max-width: 100%;
}

.skills {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
}

.skills-section > h4 {
    margin-bottom: 5px;
}

.skills-list {
    line-height: 1.35rem;
    list-style-type: none;
    padding-bottom: 20px;
}

.skills-section {
    padding-right: 50px;
}

/* work */
#work {
    margin-bottom: 20px;
    width: 100%;
}

.projects-heading {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 600;
}

.projects {    
    .accordion {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        padding: 10px 0;
        
        &-item {
            border: none;
            margin: 0;
            outline: none;
            overflow: hidden;
            padding: 15px 0;
            
            .title {
                align-items: center;
                cursor: pointer;
                display: flex;
                font-family: 'Azeret Mono', sans-serif;
                font-weight: normal;
                justify-content: space-between;
                line-height: inherit;
                
                i.fa-chevron-down {
                    font-size: 0.9rem;
                    transform: translateX(-50%) rotate(90deg);
                    transition: transform .5s ease;
                }
            }

            .content {
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                height: 0;
                opacity: 0;
                overflow: hidden;
                padding: 5px 0 3px 0;
                transition: height 0ms 400ms, opacity 400ms 0ms;
            }
            &.active {                
                .title {                    
                    i.fa-chevron-down {
                        transform: translateX(-50%) rotate(0);
                    }
                                     }
                .content {
                    height: auto;
                    opacity: 1;
                    transition: height 0ms 0ms, opacity 600ms 0ms
                }
                             }
        }
    }
     }

.content img {
    max-width: 100%;
    padding: 10px 0;
}

.content-text > a {
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: underline;
}

.project-info {
    margin-top: 10px;
    text-transform: none;
}

/* contact */
#contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
}

.contact-heading {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 700;
}

.contact-links {
    display: flex;
    list-style: none;
    margin: 10px 0;
}

.contact-link > a {
    font-family: 'Azeret Mono', sans-serif;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: .05rem;
    padding: 0 10px;
    text-decoration: none;
}

.copyright {
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;
    margin-top: 20px;
}

/* tablet styles */

@media screen and (min-width: 768px) {    
    .header {
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }

    .name {
        margin: 0 auto 0 0;
    }

    .nav-bar > ul > li {
        margin: 0 20px 0 0
    }

    .theme-switch-wrapper {
        margin: 2px 0 0 0;
    }

    .profile {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .profile img {
        max-width: 50%;
    }

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 30px;
        padding-top: 30px;
    }

    #contact {
        flex-flow: row wrap;
        justify-content: center;
    }

    .contact-heading {
        margin-right: auto;
    }
     }


  /* desktop styles */
@media screen and (min-width: 848px) {    
    /* header */
    .header {
        align-items: center;
        display: flex;
        margin: 20px 0 70px 0
    }
    .name {
        font-size: 2rem;
        margin: 0 auto 0 0;
    }

    .nav-bar {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin: 0 20px 0 0;
    }
    .nav-bar > ul > li {
        margin: 0 0 0 20px;
    }
    .nav-bar > ul > li > a {
        font-size: 1rem;
    }
    /* about */
    main {
        display: flex;
        flex-direction: column;
    }
    .top-half {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 100px;
    }

    #about {
        padding-right: 70px;
        width: 65%;
    }

    .about-me-heading {
        padding-bottom: 50px;
    }

    /* profile */
    .profile {
        flex-flow: column;
        width: 35%;
    }
    .profile img {
        max-width: 100%;
    }

    .skills {
        flex-flow: row wrap;
        margin-left: 0;
    }
    /* work */
    .projects {    
        .accordion {            
            &-item {                
                .content {
                    align-items: flex-end;
                    flex-flow: row wrap;
                }
                             }
                     }
         }
    .content img {
        border-radius: 15px;
        max-width: 50%;
        padding: 10px;
    }
    .content-text {
        padding: 0 0 20px 20px;
        width: 50%;
    }

    /* contact */
    #contact {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .contact-heading {
        margin: 0;
    }

    .copyright {
        margin: 0;
    }
     }