/*** BASE STYLES ***/
:root, html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2b2b2b;
    text-transform: lowercase;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 30px;
    background-color: beige;
}

.heading {
    font-weight: 400;
    font-family: 'Azeret Mono', sans-serif;
}

/*** HEADER ***/
header {
    width: 100%;
    display: flex;
    padding-left: 15px;
    margin-bottom: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    margin-right: auto;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    list-style: none;
    padding: 20px;
}
 
nav > ul > li > a {
    font-family: 'Syne', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

main {
    padding-left: 15px;
}

/*** ABOUT ***/
#about {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.about-me {
    width: 80%;
}

.profile-image {
    width: 50%;
    padding-left: 80px;
}

.profile-image > img {
    max-width: 100%;
}

.profile-image > img:hover + .profile-image-caption {
    opacity: 1;
}

.about-me > h2 {
    padding-bottom: 20px;
    line-height: 1.95rem;
}

.about-me > p {
    line-height: 1.75rem;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.about-me > p > .italic {
    font-family: 'Azeret Mono', sans-serif;
    font-style: italic;
}

.about-me > p > .normal-case {
    text-transform: none;
}

.about-me > p > a {
    text-decoration: underline;
    color: black;
    font-family: 'Azeret Mono', sans-serif;
}

.profile-image-caption {
    opacity: 0;
    transition: opacity .5s ease-in;
    text-align: center;
    font-size: .8rem;
}

.skills {
    padding-top: 30px;
}

.skills > h4 {
    padding-bottom: 5px;
}

.skills-list {
    list-style-type: none;
    /* text-transform: none; */
}

.skills-divider {
    border-top: 1px solid black;
    margin: 10px 0;
}



/*** WORK ***/

#work {
    width: 100%;
    margin-bottom: 20px;
}

.projects {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project {
}

/*** CONTACT ***/
