/*** BASE STYLES ***/
/* html, :root {
    display: flex;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 15px;
}

body {
    color: #2b2b2b;
    text-transform: lowercase;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*** HEADER ***/
header {
    width: 100%;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    margin-right: auto;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    list-style: none;
}
 
nav > ul > li > a {
    font-family: 'Azeret Mono', monospace;
    text-decoration: none;
}

/*** ABOUT ***/
h2 {
    font-weight: 400;
}


/*** WORK ***/


/*** CONTACT ***/
