/* base styles */
:root, html {
    --dark-card-bg: #1a0909;
    --dark: #352020;
    --light-card-bg: #C6D2C2;
    --light: #F6F6E5;
    --link-blue: blue;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    padding: 30px 0;
    text-transform: lowercase;
    width: 90%;
    background-color: var(--light);
    color: var(--dark);
}

.dark {
    background-color: var(--dark);
    color: var(--light);
}

.link {
    color: var(--dark)
}

.dark-link {
    color: var(--light);
}

.card {
    background-color: var(--light-card-bg);
    color: var(--dark);
}

.dark-card {
    background-color: var(--dark-card-bg);
    color: var(--light);
}

.underline {
    text-decoration: underline;
} 

.top-section {
    margin-bottom: 30px;
}

/* mobile styles */
/* header */
.header {
    margin-bottom: 30px;
    width: 100%;
}

.name {
    font-family: 'Azeret Mono', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto;
}

.name a {
    text-decoration: none;
}

.nav-bar {
    margin-bottom: 15px;
}

.nav-bar > ul {
    display: flex;
    padding: 0;
}

.nav-bar > ul > li {
    list-style: none;
    margin: 10px 20px 0 0;
}
 
.nav-bar > ul > li > a {
    font-family: 'Azeret Mono', sans-serif;
    font-size: .8rem;
    text-decoration: none;
}

/* dark mode toggle */
.dark-toggle {
    background-color: var(--light);
    /* border-radius: 50%;
    bottom: 2px;
    content: '';
    height: 15px;
    left: 2px;
    position: absolute;
    transition:  all 0.5s;
    width: 15px; */
}

.toggle {
    background-color: var(--dark);
    border-radius: 30px;
    border: none;
    display: inline-block;
    height: 19px;
    position: relative ;
    width: 39px;
}
       
.checkbox:checked + .toggle::after {
    background-color: var(--dark);
    transform: translateX(20px);
}

.checkbox:checked + .toggle {
    background-color: var(--light);
}
       
.checkbox {
    display: none;
}

/* about */
#about {
    margin-bottom: 30px;
    width: 100%;
}

.about-me-heading {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 400;
    line-height: 1.95rem;
    padding-bottom: 20px;
}

.about-me > p {
    font-size: 1rem;
    line-height: 1.55rem;
    padding-bottom: 10px;
}

.about-me > p > .italic {
    font-family: 'Azeret Mono', sans-serif;
    font-style: italic;
}

.about-me > p > .normal-case {
    text-transform: none;
}

.about-me > p > a {
    font-family: 'Azeret Mono', sans-serif;
    text-decoration: underline;
}

/* profile */
.profile {
    width: 100%;
}

.profile > img {
    max-width: 100%;
}

/* skills */
#skills {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.skills-section {
    padding: 20px;
}

.skills-section > h4 {
    font-family: 'Azeret Mono';
    font-weight: 600;
    margin-bottom: 5px;
}

.skills-list {
    line-height: 1.85rem;
    text-transform: none;
}

/* work */
#work {
    margin-bottom: 30px;
    width: 100%;
}

.projects-heading {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 600;
}

details summary::-webkit-details-marker {
      display:none;
  }

.accordion-item {
    padding: 20px 0;
}

details summary {
    cursor: pointer;
    transition: margin 500ms ease-in-out;
}
  
details[open] summary {
    margin-bottom: 10px;
}

.title h2 {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 400;
}

.title {
    align-items: center;
    cursor: pointer;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.fa-chevron-down {
    font-size: 0.9rem;
    transform: translateX(-50%) rotate(90deg);
    transition: transform .5s ease;
}

.active {
    transform: translateX(-50%) rotate(0);
}

.accordion-panel img {
    max-width: 100%;
    padding: 10px 0;
}

.content-text {
    height: auto;
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

.content-text > a {
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: underline;
}

.project-info {
    margin-top: 10px;
    text-transform: none;
}

/* contact */
#contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.contact-heading {
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 700;
}

.contact-links {
    display: flex;
    list-style: none;
    margin: 10px 0;
}

.contact-link > a {
    font-family: 'Azeret Mono', sans-serif;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: .05rem;
    padding: 0 10px;
    text-decoration: none;
}

.copyright {
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;
    margin-top: 20px;
}

/* tablet styles */
@media screen and (min-width: 768px) {    
    .header {
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }

    .name {
        margin: 0 auto 0 0;
    }

    .nav-bar {
        margin-bottom: 0;
    }

    .nav-bar > ul > li {
        margin: 0 20px 0 0
    }

    .theme-switch-wrapper {
        margin: 6px 0 0 0;
    }

    /* profile */
    .profile img {
        min-width: 100%;
    }

    /* skills */
    #skills {
        flex-direction: row;
    }
    .skills-section {
        width: 50%;
    }

    /* work */
    .accordion-panel {
        align-items: flex-end;
        display: flex;
        flex-flow: row wrap;
    }

    .accordion-panel img {
        border-radius: 15px;
        max-width: 50%;
        padding: 10px;
    }

    .content-text {
        padding: 0 0 20px 20px;
        width: 50%;
    }

    /* footer */
    #contact {
        flex-flow: row wrap;
        justify-content: center;
    }

    .contact-heading {
        margin-right: auto;
    }
     }


  /* desktop styles */
@media screen and (min-width: 848px) {  
    /* header */
    .header {
        align-items: center;
        display: flex;
        margin: 20px 0 70px 0
    }

    .name {
        font-size: 2rem;
        margin: 0 auto 0 0;
    }

    .nav-bar {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin: 0 20px 0 0;
    }

    .nav-bar > ul > li {
        margin: 0 0 0 20px;
    }
    .nav-bar > ul > li > a {
        font-size: 1rem;
    }

    /* about */
    main {
        display: flex;
        flex-direction: column;
    }

    .top-section {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 0px;
    }

    #about {
        margin-bottom: 30px;
        padding-right: 70px;
        width: 65%;
    }

    .about-me-heading {
        padding-bottom: 30px;
    }

    /* profile */
    .profile {
        margin-bottom: 20px;
        width: 35%;
    }
    .profile img {
        max-width: 100%;
    }

    /* work */
    .title {
        justify-content: flex-start;
    }

    .title h2 {
        margin-right: 40px;
    }

    /* footer */
    #contact {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .contact-heading {
        margin: 0;
    }

    .copyright {
        margin: 0;
    }
   }